<div class="page-header">
    <h1>
        操作权限组
    </h1>
</div>
<div class="row">

    <div class="col-xs-12">
        <form class="form-horizontal" id="form1">
            <input type="hidden" name="id" value="{{echo !empty($info['id'])?$info['id']:'0'}}">

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">权限组名称</label>

                <div class="col-sm-9">
                    <input type="text" class="col-xs-10 col-sm-5" placeholder="权限组名称" name="title" value="{{echo !empty($info['title'])?$info['title']:''}}">
                    <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle"><span class="lbl red">必填</span></label>
                    </span>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">默认URL</label>

                <div class="col-sm-9">
                    <input type="text" class="col-xs-10 col-sm-5" placeholder="默认URL如:admin/index?parm=x1" name="default_url" value="{{echo !empty($info['default_url'])?($info['default_url']):''}}">
                    <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle"><span class="lbl red">必填,进入系统。默认到达的一个控制器</span></label>
                    </span>
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">描述内容</label>

                <div class="col-sm-9">
                    <input type="text" class="col-xs-10 col-sm-5" placeholder="描述内容" name="description" value="{{echo !empty($info['description'])?$info['description']:''}}">
                    <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle"><span class="lbl red">必填</span></label>
                    </span>
                </div>

            </div>


            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">状态</label>

                <div class="col-sm-9  no-padding-left">
                    <div class="col-xs-10 col-sm-5 radio radio-inline no-padding-left">
                        {{foreach($status as $k=>$v)}}
                        {{$c = (isset($info['status'])&&$info['status']==$k)?'checked':''}}
                        {{$b = (!isset($info['status'])&&0==$k)?'checked':''}}
                        <label>
                            <input type="radio" {{$c}}{{$b}} value="{{$k}}" name="status" class="ace">
                            <span class="lbl"> {{$v}}</span>
                        </label>
                        {{/foreach}}
                    </div>
                    <span class="help-inline col-xs-12 col-sm-7">
                        <label class="middle"><span class="lbl"></span></label>
                    </span>
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-3 control-label no-padding-right">排序值</label>

                <div class="col-sm-9">
                    <input type="text" name="sort" value="{{echo !empty($info['sort'])?$info['sort']:'0'}}">
                    <span class="help-inline" data-rel="popover" data-trigger="hover" data-placement="left" data-content="More details." title="" data-original-title="Popover on hover"> 值越大越靠前</span>
                </div>

            </div>
            <div class="clearfix form-actions">
                <div class="col-md-offset-3 col-md-9">
                    <button class="btn btn-info" type="button" id="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        提交保存
                    </button>
                    <button class="btn btn-info" type="button" onclick="window.history.back();">
                        << 返回
                    </button>
                </div>
            </div>
        </form>
    </div>

</div>
<block name="content">
    <script>
        $(function () {

            $('#submit').on('click',function () {

                if($('input[name="price"]').val() == ""){
                    alertify.error("请输入价值");
                    return ;
                }
                if($('input[name="num"]').val() == ""){
                    alertify.error("请输入数量");
                    return ;
                }
                $.ajax({
                    'type':'post',
                    'url':'/auth_group/{{echo !empty($info["id"])?"edit":"add"}}',
                    'data':$('#form1').serialize(),
                    'dataType':'json',
                    'success':function (ret) {
                        if(ret.code == 1){
                            alertify.success(ret.code_str);
                        }else{
                            alertify.error(ret.code_str);
                        }
                    },'error':function (err) {
                        console.log(err);
                    }
                });


            });

        })
    </script>
</block>