{{include 'common/head'}}
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
    </script>
    {{include 'common/sidebar'}}

    <div class="main-content">
        <div class="main-content-inner">
            {{include 'common/nav'}}

            <div class="page-content">
                {{include 'common/page_set'}}

                {{$content}}

            </div>
        </div>
    </div>

    {{include 'common/footer_license'}}

</div>
{{include 'common/footer'}}
