<div class="am-g">

    <form class="am-form" id="form1" onsubmit="return false;">
    <div class="am-tabs am-margin" data-am-tabs >
        <input type="hidden" name="uid" value="{echo !empty($info['uid'])?$info['uid']:'0'}">
        <div class="am-g am-margin-top">
            <div class="am-u-md-2 am-text-right">用户帐号</div>
            <div class="am-u-md-4">
                <input type="text" placeholder="可以是手机号，邮箱号等" errmsg="请填写帐号" name="username" value="{echo !empty($info['username'])?$info['username']:''}" class="am-input-sm">
            </div>
            <div class="am-u-md-6">*必填，切勿乱填.</div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-md-2 am-text-right">用户昵称</div>
            <div class="am-u-md-4">
                <input type="text" placeholder="真实姓名为准" errmsg="请填写用户昵称" name="nickname" value="{echo !empty($info['nickname'])?$info['nickname']:''}" class="am-input-sm">
            </div>
            <div class="am-u-md-6">*必填，切勿乱填.</div>
        </div>
        <div class="am-g am-margin-top">
            <div class="am-u-md-2 am-text-right">联系电话</div>
            <div class="am-u-md-4">
                <input type="text" placeholder="" errmsg="请填写联系电话" name="link_phone" value="{echo !empty($info['link_phone'])?$info['link_phone']:''}" class="am-input-sm">
            </div>
            <div class="am-u-md-6">*必填，切勿乱填.</div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-md-2 am-text-right">联系qq</div>
            <div class="am-u-md-2">
                <input type="text" placeholder="" errmsg="请填写联系qq" name="link_qq" value="{echo !empty($info['link_qq'])?$info['link_qq']:''}" class="am-input-sm">
            </div>
            <div class="am-u-md-6">*必填，切勿乱填.</div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-md-2 am-text-right">密码</div>
            <div class="am-u-md-2">
                <input type="text" placeholder="" minlength="6" maxlength="20" name="password" value="" class="am-input-sm">
            </div>
            <div class="am-u-md-6">*必填，6-20位.</div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-md-2 am-text-right">选择渠道</div>
            <div class="am-u-md-4">
                <div class="am-input-group">
                    {if(!empty($dinfo))}
                        ID:{$dinfo['ditch_id']}<br>Name:{$dinfo['ditch_name']}<br>
                    apk下载地址: <a href="{$dinfo['down_url']}?attname=qzonesz.apk">{$dinfo['down_url']}</a>
                    {else}
                    <select name="ditch_id" id="select_ditch" class="am-form-field ">
                        <option value="">可用渠道选择</option>
                    </select>
                    <span class="am-input-group-label select_ditch">刷新渠道</span>
                    {/if}

                </div>

            </div>
            <div class="am-u-md-6">*必填，6-20位.</div>
        </div>



        <div class="am-g am-margin-top">
            <div class="am-u-md-2 am-text-right">性别</div>
            <div class="am-u-md-4">
                <label class="am-radio-inline">
                    <input type="radio" name="sex" checked value="1"> 男
                </label>
                <label class="am-radio-inline">
                    <input type="radio" name="sex" value="2"> 女
                </label>
            </div>
            <div class="am-u-md-6"></div>
        </div>

        <div class="am-g am-margin-top">
            <div class="am-u-md-2 am-text-right">帐号状态</div>
            <div class="am-u-md-4">
                <label class="am-radio-inline">
                    <input type="radio" name="status" checked value="1"> 正常
                </label>
                <label class="am-radio-inline">
                    <input type="radio" name="status" value="2"> 禁用
                </label>
            </div>
            <div class="am-u-md-6"></div>
        </div>

        <div class="am-margin am-g am-margin-top">
            <div class="am-u-md-2"></div>
            <div class="am-u-md-10 am-text-left">

                <button type="button" id="submit" class="am-btn am-btn-primary am-radius">保存</button>
                <button type="button" onclick="window.history.back()" class="am-btn am-btn-danger am-radius"><< 返回</button>
            </div>
        </div>
    </div>

    </form>
</div>
<script>
    require(['jquery',
                'dialog',
                'upload',
                'amazeui',
                'app',
                'drag',
        'dialog-plus','dialog-plus'
            ],function ($,dialog){

        function zalert(msg,$class) {
            $class = $class ?$class : 'warning';
            msg = msg ? msg : '操作有误！';
            var d = dialog({
                id:'id2',
                zIndex:1505,
                quickClose:true,
                content: '<span class="am-icon-btn am-'+$class+' am-icon-'+$class+'"></span>　'+msg
            }).show();
        }

        $('.select_ditch').on('click',function () {
            var that = $("#select_ditch");
            $.ajax({
                'type':'post',
                'url':'/software/ditch_list',
                'data':$('#form1').serialize(),
                'dataType':'json',
                'success':function (ret) {
                    var data=ret.data;
                    if(data){
                        var h = "";
                        for (var i in data){
                            h+="<option value='"+data[i].id+"'>"+data[i].ditch_name+"</option>";
                        }
                        that.html(h)
                    }
                },'error':function (err) {

                }
            });
        });

        $('#submit').on('click',function () {

            if($('input[name="title"]').val() == ""){
                zalert($('input[name="title"]').attr('errmsg'));
                return ;
            }
            if($('input[name="url"]').val() == ""){
                zalert($('input[name="url"]').attr('errmsg'));
                return ;
            }
            $.ajax({
                'type':'post',
                'url':'/admin/{echo !empty($info["uid"])?"admin_edit":"admin_add"}',
                'data':$('#form1').serialize(),
                'dataType':'json',
                'success':function (ret) {
                    if(ret.code == 1){
                        zalert(ret.code_str,'icon-check am-success');
                    }else{
                        zalert(ret.code_str);
                    }
                },'error':function (err) {
                    console.log(err);
                }
            });


        });
    });
</script>

